@import './reset.scss';
@import './app.scss';
#app {
  height: 100%;
  background-color: var(--body-bgcolor);
  font-size: $font-size;
}

.drag {
  -webkit-app-region: drag;
}
.nodrag {
  -webkit-app-region: no-drag;
}

