@import './reset.scss';
@font-face {
  font-family: 'iconfont'; /* Project id 2749953 */
  src:
    url('//at.alicdn.com/t/c/font_2749953_9xp9mbfjp2.woff2?t=1697618431986') format('woff2'),
    url('//at.alicdn.com/t/c/font_2749953_9xp9mbfjp2.woff?t=1697618431986') format('woff'),
    url('//at.alicdn.com/t/c/font_2749953_9xp9mbfjp2.ttf?t=1697618431986') format('truetype');
}

#app {
  height: 100%;
  background-color: var(--body-bgcolor);
  font-size: $font-size;

  -moz-user-select: none; /*火狐*/ /*选中文字时避免出现蓝色背景*/
  -webkit-user-select: none; /*webkit浏览器*/ /*选中文字时避免出现蓝色背景*/
  -ms-user-select: none; /*IE10*/ /*选中文字时避免出现蓝色背景*/
  user-select: none; /*选中文字时避免出现蓝色背景*/
}
body {
  color: var(--font-color);
}

::-webkit-scrollbar {
  display: none;
}
.drag {
  -webkit-app-region: drag;
}
.nodrag {
  -webkit-app-region: no-drag;
  color: rgb(51, 51, 51);
}
